<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Readme</title>
 
</head>
<body>

<br>

Дата начала разработки сервиса: 19.05.18<br>
<br>Дата последнего обновления: 20.05.18  17:45 PM<br><br>
Данный сервис находится в активной разработке.<br>
Сервис будет предоставлять возможности интелектуального поиска работы. На основе заданных предпочтений он будет искать наиболее подходящие вакансии на сайтах работы и предлагать их выборку в порядке спадания % соответствия.<br>
Так же можно будет указать "не показывать вакансии где требует *что-то*" или искать только такие вакансии, где это требуется.<br>
Всего в 1 клик можно будет найти именно подходящие вакансии с самых крупных сайтов для поиска работы, без нужды тратить лишнее время просматривая неподходящие предложения.<br>
<br>
<br>
Сейчас более-менее стабильная работа сервиса наблюдается по запросу "Junior Java Developer". Для других запросов результат может быть непредсказуемым, т.к. сервис находится в активной разработке.<br><br>
<form method="post" action = "/sortedVacancy">
Введите должность для поиска:<br><input type = "text" name = "url" value = "Junior Java Developer"/><br><br>

Введите желаемые требования к вакансии, разделяя их точкой с запятой(;), в любом регистре(!):
<br><input type = "text" name = "pref" value = "Spring;Hibernate"/><br>
<input type = "submit" value ="Send"/> 

</form>
</body>
</html>