<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Readme</title>
 <style type="text/css">
   #readme { 
   color: #000000;
    padding: 5px;
    font-size: 17px;
    
   }
  </style>
</head>
<body>
<div id = "readme">
<a href = "/login">Login page</a>. After successful authentication u'll get a token with some authority(role).
<br>
With login and password: <b>admin</b> u'll get ADMIN authority.<br>
With login and password: <b>user</b> u'll get USER authority.<br>
<br>
For access <a href="/web/allPersons">control page</a>, u should have ADMIN authority.
<br>
For access <a href="/web/hello">simple hello page</a>, u should have USER/ADMIN authority.
<br>
<br>
RESTful web service example:
<br>
Server-side implementation - <a href = "/sites_service">/sites_service</a>
<br>
Angular implementation - <a href = "/sites_angularImpl_service">/sites_service</a>
<br>
jQuery + ajax implementation - <a href = "/sites_ajaxImpl_service">/sites_service</a>
</div>
</body>
</html>