<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Readme</title>
</head>
<body>
<a href = "/login">Login page</a>. After successful authentication u'll get a token with some authority.
<br>
With login and password: <b>admin</b> u'll get ADMIN authority.<br>
With login and password: <b>user</b> u'll get USER authority.<br>
<br>
For access <a href="/web/allPersons">control page</a>, u should have ADMIN authority.
<br>
For access <a href="/web/hello">simple hello page</a>, u should have USER/ADMIN authority.
<br>

</body>
</html>