
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StackExchanger</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body ng-app="springDemo">
This service uses API from api.stackexchange.com/docs/sites <br>
Sends get request to http://api.stackexchange.com/2.2/sites?filter=!2--Yion.2OJSStcKSpFvq , processes the JSON-response<br>
and load data into the table.<br>
Server-side implementation <br>
<div class="container" style="margin-top: 30px" ng-controller="AppCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Сайты StackOverflow</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>icon</th>
                            <th>adress</th>
                            <th>name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="site: ${sites_list}">
                           <td><img src ="abc" th:attr="src=@{${site.favicon_url}}"></td>
                           <td th:text = ${site.site_url}/>
                           <td th:text = ${site.name}/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>