<html>
<head>
<title>Sorted vacancies</title>
</head>
<body>
<br>

<br>
<br>
 <table>
      <tr>
        <th>Vacancy</th>
        <th>Requirments</th>
        <th>CORRESPONDING</th>
        
      </tr>
      <tr th:each="vac : ${vacancy}">
        <td>  <a href="comments.html" th:href = "@{${vac.vacancy_url}}">
         <span th:text="${vac.post}"> </span></a>  </td>
        <td th:text="${vac.requirments}"></td>
        <td ><span th:text="${vac.corresponding}"/>%</td>
      </tr>
    </table>
</body>
</html>

<!--  th:text="${vac.post}"> -->