<html>
<head>
<title>Simple Hello Page</title>
</head>
<body>
<br>
<br>
 <table>
      <tr>
        <th>POST</th>
        <th>URL</th>
        <th>CORRESPONDING</th>
      </tr>
      <tr th:each="vac : ${vacancy}">
        <td>  <a href="comments.html" th:href = "@{${vac.vacancy_url}}">
         <span th:text="${vac.post}"> </span></a>  </td>
        <td th:text="${vac.vacancy_url}"></td>
        <td th:text="${vac.requirments}"></td>
      </tr>
    </table>
</body>
</html>

<!--  th:text="${vac.post}"> -->