<html>
<head>
<title>Simple Hello Page</title>
</head>
<body>
<br>

Дата начала разработки сервиса: 19.05.18<br>
<br>Дата последнего обновления: 20.05.18  12:31 PM<br>
Данный сервис находится в активной разработке.<br>
Сервис будет предоставлять возможности интелектуального поиска работы. На основе заданных технологий он будет искать наиболее подходящие вакансии на сайтах работы и предлагать их выборку в порядке спадания % соответствия.<br>
Так же можно будет указать "не показывать вакансии где требует *что-то*" или искать только такие вакансии, где это требуется.<br>
Всего в 1 клик можно будет искать именно подходящие вакансии со всех сайтов поиска работы, без нужды тратить лишнее время.<br>
<br>
Сейчас сервис находит свежие вакансии по запросу, указанному в url, на сайте rabota.ua и отображает их требования.<br>
Более менее стабильная работа наблюдается по запросу junior java developer<br>
<br>
<br>
 <table>
      <tr>
        <th>POST</th>
        <th>URL</th>
        <th>CORRESPONDING</th>
      </tr>
      <tr th:each="vac : ${vacancy}">
        <td>  <a href="comments.html" th:href = "@{${vac.vacancy_url}}">
         <span th:text="${vac.post}"> </span></a>  </td>
        <td th:text="${vac.vacancy_url}"></td>
        <td th:text="${vac.requirments}"></td>
      </tr>
    </table>
</body>
</html>

<!--  th:text="${vac.post}"> -->